.note-panel {

  .note-data {

    .preview-image {
      img {
        width: 80%;
        height: auto;

      }
    }
  }

  .note-info {
    padding: 1rem;
    display: flex;
    font-size: 10pt;
    line-height: 18px;

    .note-author {
      text-align: center;
    }

    .add-to-cart {
      display: block !important;
      border-radius: .5em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
      background: linear-gradient(to top, #f47a20, #faa51a);
      // background: linear-gradient(to top, #31ad32, #25ea3c);

      p {
        margin: 0px;
      }

      .price {
        font-size: 1.9rem;
        font-weight: 200;
      }

      .label {
        font-weight: 700;
      }
    }

  }
}

.breadcrumb li:after {
  color: #ccc;
  content: ' > ';
}

@media only screen and (max-width: 599px) {
  .note-panel {
    .breadcrumb {
      font-size: 0.7rem;
    }

    .note-info {
      .add-to-cart {
        .price {
          font-size: 1rem;
        }
      }
    }

    .document-what {

      p,
      span {
        font-size: 0.7rem;
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .note-panel {
    .breadcrumb {
      font-size: 0.7rem;
    }

    .document-what {

      p,
      span {
        font-size: 0.7rem;
      }
    }
  }
}