.note-panel {
  .note-data {
    .preview-image {
      img {
        width: 80%;
        height: auto;
        display: block;
        filter: blur(2px);
        margin-left: auto;
        margin-right: auto;
      }
    }
    .no-preview {
      img {
        filter: none;
      }
    }
  }

  .fa {
    margin-right: 0.5rem;
  }

  .note-info {
    padding: 1rem;
    font-size: 10pt;
    line-height: 18px;

    .note-author {
      text-align: center;
    }
  }
}

.breadcrumb li:after {
  color: #ccc;
  content: ' > ';
}

@media only screen and (max-width: 599px) {
  .note-panel {
    .breadcrumb {
      font-size: 0.7rem;
    }

    .note-info {
      .add-to-cart {
        .price {
          font-size: 1rem;
        }
      }
    }

    .document-what {
      p,
      span {
        font-size: 0.7rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .note-panel {
    .breadcrumb {
      font-size: 0.7rem;
    }

    .document-what {
      p,
      span {
        font-size: 0.7rem;
      }
    }
  }
}
