.home-layout {
  .main {
    p {
      max-width: 600px;
    }
  }

  .course-selector-card {
    padding: 1rem;
  }
  .note-small-info {
    display: inline-block;
  }
.fa{
  margin-right: 0.5rem
}
  .btn-small-group {
    display: flex;
    .btn {
      margin: 3px;
      &.cart {
        width: 120px;
        color: white;
        background-color: #3f51b5;
        border-color: #16288d;
        &:hover {
          background-color: #16288d;
        }
        &:disabled {
          background-color: #5c6268;
        }
      }
      &.note {
        width: 100%;
        color: black;
        background: linear-gradient(to top, #f47a20, #faa51a);

        &:hover {
          background: linear-gradient(to top, #dd5d02, #d38200);
        }
      }
    }
  }

  .footer {
    background-color: #3f51b5;
    padding: 2rem;
  }
  .footer-item {
    text-align: center;
    color: white;
  }
}
