.home-layout {
  .main {
    // padding: 2rem 5rem;
    // margin: rem 0;
    h1 {
    }

    p {
      max-width: 600px;
    }
  }

  .course-selector-card {
    padding: 1rem;
  }

  .footer {
    background-color: #3f51b5;
    padding: 2rem;
  }
  .footer-item {
    text-align: center;
    color: white;
  }
}
