.valuesPage {
  padding: 2rem;

  .input {
    margin-right: 10px;
  }

  .messages {
    flex-grow: 1;

    .message {
      border-bottom: 2px solid #3f51b5;
      padding: 1rem;
      transition: all 0.1s ease;
      height: 100%;

      &:hover {
        background-color: rgba(#3f51b5, 0.1);
        border-bottom-color: darken(#3f51b5, 20);
      }
    }
  }
}