$bgDefault: #3f51b5;
$bgHighlight: #16288d;
$colDefault: #ecf0f1;
$colHighlight: #ecdbff;
.navbar {
  background-color: $bgDefault;
  box-shadow: 0px 2px 3px rgba(black, 0.5);
  .navbar-brand {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
    a {
      color: $colHighlight;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: 0.25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover,
        &:focus {
          color: $bgHighlight;
        }
      }
    }

    .nav-item.active,
    .nav-item.show {
      .nav-link,
      .nav-link:hover,
      .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

.imgDesktop {
  width: 200px;
  height: 60px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .imgMobile {
    display: none;
  }
  .padd{
    padding: 0px;
  .menuWraper{
    background: #ecdbff;
    color: #ecdbff; //chuj nie dziala
    }
  }
}
