.note-card {
  background-color: #f0f0f0 !important;
  height: 100%;
  // border: 1px solid rgba(black, 0.5);

  .note-preview {
    height: 100px;
  }
}

.search-note-card {
  margin-right: 0 !important;
  margin-left: 0 !important;

  .note-image {
    display: flex;
  }

  .grid-item-note {
    height: 100%;
    width: 100%;
  }

  .btn-group {
    display: flex;

    .btn {
      margin: 3px;

      &.cart {
        width: 250px;
      }

      &.note {
        width: 100%;
      }
    }
  }
}
.download-note-card {
  position: relative;
  .busy-overlay {
    background: rgba(white, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    p {
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  .btn.download {
    color: white;
    background: linear-gradient(to top, #1d0ea0, #00a2ff);
    &:hover {
      background: linear-gradient(to top, darken(#00a2ff, 10), #1d0ea0);
    }
  }
}
