.note-card {
  background-color: #f0f0f0 !important;
  height: 100%;
  // border: 1px solid rgba(black, 0.5);

  .note-preview {
    height: 100px;
  }
}

.search-note-card {
  margin-right: 0 !important;
  margin-left: 0 !important;

  .note-image {
    display: flex;
  }

  .grid-item-note {
    height: 100%;
    width: 100%;
  }

  .btn-group {
    display: flex;

    .btn {
      margin: 3px;

      &.cart {
        width: 250px;
      }

      &.note {
        width: 100%;
      }
    }
  }
}

