.user-panel {
  .user-data {
    .fa {
      margin-right: 0.5rem;
    }
  }


  .btn-buy {
    width: 100%;
    border-radius: 0.5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #077c1160, #67df06, #077c1160,);

  }


}