.user-panel {
  .user-data {
    .preview-image {
      img {
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .fa {
    margin-right: 0.5rem;
  }

  h2 {
    padding: 20rem;
  }

  .note-info {
    padding: 1rem;
    font-size: 10pt;
    line-height: 18px;

    .note-author {
      text-align: center;
    }

  }

  .btn {
    margin-left: 300px;

    &.cart {
      width: 100%;
      color: black;
      background: linear-gradient(to top, #f47a20, #faa51a);

      &:hover {
        background: linear-gradient(to top, #dd5d02, #d38200);
      }
    }
  }

  .add-to-cart {
    display: block !important;
    width: 100%;
    border-radius: 0.5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #f47a20, #faa51a);

    &[hover] {
      background: linear-gradient(to top, #dd5d02, #d38200);
    }

    &[disabled] {
      background: linear-gradient(to top, #ffb938, #ff9138);
    }

    p {
      margin: 0px;
    }

    .price {
      font-size: 1.9rem;
      font-weight: 200;
    }

    .label {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .breadcrumb li:after {
    color: #ccc;
    content: ' > ';
  }
}