.note-upload-header {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.upload-page-card {
  position: relative;

  .sending-overlay {
    position: fixed;
    background-color: rgba(white, 0.8);
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .progress-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }
  }
}

.note-form {
  flex-direction: column;
  display: flex;
  align-items: left;
  margin-left: 1rem;
  margin-right: 1rem;

  .field {
    width: 50%;
    margin-right: auto;
    margin-bottom: 1rem;

    &.description {
      width: 75%;
    }
  }

  .file-submit {
    margin-bottom: 1rem;

    &.button {
      width: 100%;
    }
  }

  .file-input {
    [type='file'] {
      height: 0;
      overflow: hidden;
      width: 0;
    }

    [type='file'] + label {
      background: #f15d22;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: 'Poppins', sans-serif;
      font-size: inherit;
      font-weight: 600;
      margin-bottom: 1rem;
      outline: none;
      padding: 1rem 50px;
      position: relative;
      transition: all 0.3s;
      vertical-align: middle;

      &.btn-3 {
        background-color: #ff0000;
        border-radius: 0;
        overflow: hidden;

        span {
          display: inline-block;
          height: 100%;
          transition: all 0.3s;
          width: 100%;
        }
      }
    }
  }

  .button {
    margin-bottom: 2rem;
    width: 50%;
  }

  .semester-list {
    width: 20%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

.eval {
  color: white;
  width: 100%;
  padding: 1rem;

  &.errors {
    background-color: red;
  }

  &.success {
    background-color: green;
  }
}
