.note-upload-header {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.note-form {
  flex-direction: column;
  display: flex;
  align-items: left;
  margin-left: 1rem;
  margin-right: 1rem;

  .field {
    width: 50%;
    margin-right: auto;
    margin-bottom: 1rem;

    &.description {
      width: 75%;
    }
  }

  .file-submit {
    margin-bottom: 1rem;

    &.button {
      width: 100%;
    }
  }

  .button {
    margin-bottom: 2rem;
    width: 50%;
  }

  .semester-list {
    width: 20%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}
.eval {
  color: white;
  width: 100%;
  padding: 1rem;
  &.errors {
    background-color: red;
  }
  &.success {
    background-color: green;
  }
}
